<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>考勤管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link th:href="@{/static/common/image/hdrc.jpg}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link th:href="@{/static/common/image/hdrc.jpgo}" sizes="128x128" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/common/css/aliIconFont.css}" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!--<%&#45;&#45;<li class="layui-nav-item layui-hide-xs" lay-unselect>&#45;&#45;%>-->
                <!--<%&#45;&#45;<a href="/webSite/findJob.html" target="_blank" title="前台">&#45;&#45;%>-->
                    <!--<%&#45;&#45;<i class="layui-icon layui-icon-website"></i>&#45;&#45;%>-->
                    <!--<%&#45;&#45;</a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</li>&#45;&#45;%>-->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--<%&#45;&#45;<li class="layui-nav-item layui-hide-xs" lay-unselect>&#45;&#45;%>-->
                <!--<%&#45;&#45;<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">&#45;&#45;%>-->
                <!--<%&#45;&#45;</li>&#45;&#45;%>-->
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!--<%&#45;&#45;<li class="layui-nav-item" lay-unselect>&#45;&#45;%>-->
                <!--<%&#45;&#45;<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">&#45;&#45;%>-->
                    <!--<%&#45;&#45;<i class="layui-icon layui-icon-notice"></i>&#45;&#45;%>-->

                    <!--<%&#45;&#45;&lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;&#45;&#45;%>-->
                    <!--<%&#45;&#45;<span class="layui-badge-dot"></span>&#45;&#45;%>-->
                    <!--<%&#45;&#45;</a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</li>&#45;&#45;%>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <!--<%&#45;&#45;<li class="layui-nav-item layui-hide-xs" lay-unselect>&#45;&#45;%>-->
                <!--<%&#45;&#45;<a href="javascript:;" layadmin-event="note">&#45;&#45;%>-->
                    <!--<%&#45;&#45;<i class="layui-icon layui-icon-note"></i>&#45;&#45;%>-->
                    <!--<%&#45;&#45;</a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</li>&#45;&#45;%>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${name}"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <!--<%&#45;&#45;<dd><a lay-href="/admin/jumpInfo">基本资料</a></dd>&#45;&#45;%>-->
                        <dd><a lay-href="/admin/jumpForget">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/admin/logout">退出</a></dd>
                    </dl>
                </li>

                <!--<%&#45;&#45;<li class="layui-nav-item layui-hide-xs" lay-unselect>&#45;&#45;%>-->
                <!--<%&#45;&#45;<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>&#45;&#45;%>-->
                <!--<%&#45;&#45;</li>&#45;&#45;%>-->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>考勤系统</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <shiro:hasPermission name = "department/job">
                        <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="部门/职位" lay-direction="2">
                                <i class="layui-icon iconfont iconbumen"></i>
                                <cite>部门/职位</cite>
                            </a>
                            <shiro:hasPermission name = "departmentManage">
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/department/jumpPaging">部门管理</a></dd>
                                </dl>
                            </shiro:hasPermission>
                            <shiro:hasPermission name = "jobManage">
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/job/jumpPaging">职位管理</a></dd>
                                </dl>
                            </shiro:hasPermission>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "employeeManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="企业管理" lay-direction="2">
                                <i class="layui-icon iconfont iconrenyuanguanli"></i>
                                <cite>人员管理</cite>
                            </a>
                            <shiro:hasPermission name = "jobManage">
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/employee/jumpPaging">在职人员</a></dd>
                                </dl>
                            </shiro:hasPermission>
                            <shiro:hasPermission name = "offEmployee">
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="/employee/jumpDimissionPaging">离职员工</a></dd>
                                </dl>
                            </shiro:hasPermission>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "arrangeManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="简历管理" lay-direction="2">
                                <i class="layui-icon iconfont iconpaibanguanli"></i>
                                <cite>排班管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "arrangeTime">
                                    <dd>
                                        <a lay-href="/arrangeTime/jumpPaging">排班时间</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "employeeArrange">
                                    <dd>
                                        <a lay-href="/arrangeDutyRules/jumpDepartmentPaging">员工排班</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "leaderArrange">
                                    <dd>
                                        <a lay-href="/arrangeDutyRules/jumpDepartmentLeaderPaging">干部排班</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "arrangeRecord">
                                    <dd>
                                        <a lay-href="/arrange/jumpEmployArrangePaging">排班记录</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "attendanceManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="考勤管理" lay-direction="2">
                                <i class="layui-icon iconfont iconkaoqinguanli"></i>
                                <cite>考勤管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "holidayManage">
                                    <dd>
                                        <a lay-href="/holiday/jumpPaging">假期管理</a>
                                    </dd>
                                </shiro:hasPermission>
                                <dd>
                                    <a lay-href="/dayOfDuty/jumpPaging">法定周末上班</a>
                                </dd>
                                <shiro:hasPermission name = "punchCardRecord">
                                    <dd>
                                        <a lay-href="/attendanceRecord/jumpPaging">打卡记录</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "attendanceStatistics">
                                    <dd>
                                        <a lay-href="/attendanceRecord/jumpStatisticsPaging">考勤统计</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "reissueCardManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="补卡管理" lay-direction="2">
                                <i class="layui-icon iconfont iconbuka"></i>
                                <cite>补卡管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "reissueCardReply">
                                    <dd>
                                        <a lay-href="/reissueReply/jumpPaging">补卡申请</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "reissueCardPass">
                                    <dd>
                                        <a lay-href="/reissueReply/jumpPassPaging">补卡通过</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "reissueCardUnPass">
                                    <dd>
                                        <a lay-href="/reissueReply/jumpUnPassPaging">补卡不通过</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "leaveManage">
                        <li data-name="app" class="layui-nav-item">
                            <a lay-href="javascript:;" lay-tips="请假管理" lay-direction="2">
                                <i class="layui-icon iconfont iconqingjiaguanli-"></i>
                                <cite>请假管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "leaveType">
                                    <dd>
                                        <a lay-href="/leaveType/jumpPaging">请假类型</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "leaveSet">
                                    <dd>
                                        <a lay-href="/leaveSet/jumpPaging">请假设置</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "leaveCheck">
                                    <dd>
                                        <a lay-href="/empLeave/jumpPaging">请假审核</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "leavePass">
                                    <dd>
                                        <a lay-href="/empLeave/jumpPassPaging">审核通过</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "leaveUnPass">
                                    <dd>
                                        <a lay-href="/empLeave/jumpUnPassPaging">审核不通过</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "leaveInLieuManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="调休管理" lay-direction="2">
                                <i class="layui-icon iconfont icontiaoxiushenqing"></i>
                                <cite>调休管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "leaveInLieuRecord">
                                    <dd>
                                        <a lay-href="/leaveInLieu/jumpPaging">调休记录</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                    <shiro:hasPermission name = "backPermissionManage">
                        <li data-name="app" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="后台权限管理" lay-direction="2">
                                <i class="layui-icon iconfont iconquanxianguanli"></i>
                                <cite>后台权限管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <shiro:hasPermission name = "managerManage">
                                    <dd>
                                        <a lay-href="/manage/jumpPaging">管理员</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "roleManage">
                                    <dd>
                                        <a lay-href="/role/jumpPaging">角色管理</a>
                                    </dd>
                                </shiro:hasPermission>
                                <shiro:hasPermission name = "permissionManage">
                                    <dd>
                                        <a lay-href="/permission/jumpPaging">权限管理</a>
                                    </dd>
                                </shiro:hasPermission>
                            </dl>
                        </li>
                    </shiro:hasPermission>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe th:src="@{/admin/jumpConsole}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script th:src="@{/static/common/jquery.min.js}"></script>
<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script>
    layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer =layui.layer;
        layui.config({
            base: '/static/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index']);
    });
</script>
</body>
</html>

